<h1><span id="start"><%= @gear.title %></span></h1>
<br>
<h2><span id="start">Character Class:</span> <%= @gear.character_klass %></h2>
<br>
<h2><span id="start">Helm: </span><%= @gear.helm %></h2>
<br>
<h2><span id="start">Shoulders: </span><%= @gear.shoulders %></h2>
<br>
<h2><span id="start">Gloves: </span><%= @gear.gloves %></h2>
<br>
<h2><span id="start">Chest Armor: </span><%= @gear.chest_armor %></h2>
<br>
<h2><span id="start">Belt: </span><%= @gear.belt %></h2>
<br>
<h2><span id="start">Pants: </span><%= @gear.pants %></h2>
<br>
<h2><span id="start">Boots: </span><%= @gear.boots %></h2>
<br>
<h2><span id="start">Bracers: </span><%= @gear.bracers %></h2>
<br>
<h2><span id="start">Amulet: </span><%= @gear.amulet %></h2>
<br>
<h2><span id="start">Ring 1: </span><%= @gear.ring_1 %></h2>
<br>
<h2><span id="start">Ring 2: </span><%= @gear.ring_2 %></h2>
<br>
<h2><span id="start">Weapon: </span><%= @gear.weapon %></h2>
<br>
<h2><span id="start">Offhand: </span><%= @gear.offhand %></h2>
<br>
<h2><span id="start">Gem Notes: </span><%= @gear.gem_notes %></h2>
<br>
<h2><span id="start">Kanai's Cube: </span><%= @gear.kanais_cube %></h2>
<br>
<h2><span id="start">Active Skills: </span><%= @gear.active_skills %></h2>
<br>
<h2><span id="start">Passive Skills: </span><%= @gear.passive_skills %></h2>
<br>
<h2><span id="start">General Build Notes: </span><%= @gear.general_build_notes %></h2>
<br>
<form action="/gears/<%= @gear.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <% if @gear.user == current_user %>
  <button type="submit" id="btn">Delete Build</button>
  <% end %>
</form>